{% extends 'base.html' %}
{% load static %}
{% block content %}
<div>
    <form novalidate action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="mb-3 mt-3">
            <label for="{{ stud_form.name.id_for_label }}" class="form-label">{{ stud_form.name.label }}</label>
            <div class="form-field d-flex align-items-center">
                {{  stud_form.name }}
                <span class="help-block">{{ stud_form.errors.name }}</span>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <label for="{{ stud_form.age.id_for_label }}" class="form-label">{{ stud_form.age.label }}</label>
            <div class="form-field d-flex align-items-center">
                {{  stud_form.age }}
                <span class="help-block">{{ stud_form.errors.age.0 }}</span>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <label for="{{ stud_form.stud_email.id_for_label }}" class="form-label">{{ stud_form.stud_email.label }}</label>
            <div class="form-field d-flex align-items-center">
                {{  stud_form.stud_email }}
                <span class="help-block">{{ stud_form.errors.stud_email.0 }}</span>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <label for="{{ stud_form.gender.id_for_label }}" class="form-label">{{ stud_form.gender.label }}</label>
            <div class="form-field d-flex align-items-center">
                {{  stud_form.gender }}
                <span class="help-block">{{ stud_form.errors.gender.0 }}</span>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <label for="{{ stud_form.password.id_for_label }}" class="form-label">{{ stud_form.password.label }}</label>
            <div class="form-field d-flex align-items-center">
                {{  stud_form.password }}
                <span class="help-block">{{ stud_form.errors.password.0 }}</span>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <label for="{{ stud_form.stud_image.id_for_label }}" class="form-label">{{ stud_form.stud_image.label }}</label>
            <div class="form-field d-flex align-items-center">
                {{  stud_form.stud_image }}
                <span class="help-block">{{ stud_form.errors.stud_image.0 }}</span>
            </div>
        </div>
        <div class="mb-3 mt-3">
            <label for="{{ stud_form.re_password.id_for_label }}" class="form-label">{{ stud_form.re_password.label }}</label>
            <div class="form-field d-flex align-items-center">
                {{  stud_form.re_password }}
                <span class="help-block">{{ stud_form.errors.re_password.0 }}</span>
            </div>
        </div>
        <div class="col-8">
            <label for="agreeTerms">
                {{ error_info }}
            </label>
        </div>
        <div class="col-sm-10">
              <input type="submit" class="btn btn-success" value="register">
        </div>
    </form>
</div>
{% endblock %}
